.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    font-size: 2em;
}

.ul-list {
    display: flex;
    align-items: center;
    background-color: black;
    list-style-type: none;
}

.li-item:first-child {
    background:blue;
    padding: .25rem .75rem;
    border-radius: .2rem;
}

a:hover {
    color: red;
}

a  {
    color: white;
  }

.menu-icon, #check {
    display: none;
}

.menu-icon, #ico {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.title {
    display:block;
    align-items: center;
}

.a-title{
    color: blue;
}
/* Css for Main page image*/
#imagen_main_page {
    max-width: 80%;
    border: 2px solid blue;
}

/* Css for imagens*/
.flex-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}
.col {
    display: inline-block;
    padding: 30px;
}
.col-2{
    display: inline-flex;
    justify-content: center;
}
.img-card{
    max-width: 50%;
    margin:0% auto;
    border-radius: 20px;
    border: 3px solid blue;
}
.card-title {
    text-align: center;
    font-size: 40px;
}
.card-text {
    font-size: 20px;
    text-align: justify;
}
#back {
    color: rgb(149, 165, 165);
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
}


/* css for minigames */
.conteiner{
    display: inline-flex;
    justify-content: center;
}
.content {
    background-color: lightblue;
    padding: 0px 0px 10px 5px;
    max-width: 50%;
    margin: 0 auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
}

.inputtext{
    color: rgb(149, 165, 165);
}

.button {
  color: rgb(111, 67, 14);
}

#back {
    text-decoration: none;
    color: rgb(149, 165, 165);
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
      width: 100%;
    }
    .a-title{
        font-size: 1.8rem;
    }
    .checkbtn{
        display: block;
    }
    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .ul-list {
        display:block;
        position:fixed;
        top:60px;
        right:-110%;
        width: 100%;
        height: 25vh auto;
        left: 120%;
    }
    .li-item {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .li-item:first-child {
        padding: 1rem;
        background: none;
    }
    #check:checked ~ .ul-list {
        left: 0.5%;
        transition:all .8s;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .container {
      width: 95%;
    }
    .a-title{
        font-size: 2.5rem;
    }
    .checkbtn{
        display: block;
    }
    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .ul-list {
        display:block;
        position:fixed;
        top:60px;
        right:-110%;
        width: 100%;
        height: 25vh auto;
        left: 120%;
    }
    .li-item {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .li-item:first-child {
        padding: 1rem;
        background: none;
    }
    .a-item{
        font-size: 2rem;
    }
    #check:checked ~ .ul-list {
        left: 0.5%;
        transition:all .8s;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      width: 85%;
    }
    .a-title{
        font-size: 3rem;
    }
    .checkbtn{
        display: block;
    }
    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .ul-list {
        display:block;
        position:fixed;
        top:60px;
        right:-110%;
        width: 100%;
        height: 25vh auto;
        left: 120%;
    }
    .li-item {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .a-item{
        font-size: 2rem;
    }
    .li-item:first-child {
        padding: 1rem;
        background: none;
    }
    #check:checked ~ .ul-list {
        left: 0.5%;
        transition:all .8s;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .container {
      width: 100%;
    }
    .a-item{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
    .container {
      width: 100%;
    }
}