{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <title>GT APP</title>
</head>
<body>
    <header>
        <div class="navbar">
            <input type="checkbox" name="" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon">
                <img id="ico" src="../static/images/lista.png" alt="" width="16" height="16" 
                        fill="currentColor" viewBox="0 0 16 16">
                </i>
            </label> 
            <ul class="ul-list">
                <li class="li-item" id="active"><a class="a-item" href="{% url 'gtapp:index' %}">HOME</a></li>
                <li class="li-item"><a class="a-item" href="{% url 'gtapp:imagen' %}">Imagens</a></li>
                <li class="li-item"><a class="a-item" href="">Videos</a></li>
                <li class="li-item"><a class="a-item" href="">Music</a></li>
                <li class="li-item"><a class="a-item" href="{% url 'gtapp:dinamics' %}">Dinamics</a></li>
                <li class="li-item"><a class="a-item" href="">Posts</a></li>
                {% if user.is_authenticated %}
                    <li class="li-item"><a class="a-item" href="{% url 'gtapp:profile' %}">Profile</a></li>
                    <li class="li-item"><a class="a-item" class="logout1" href="{% url 'gtapp:logout' %}">Log Out</a></li>
                {% else %}
                    <li class="li-item"><a class="a-item" class="login1" href="{% url 'gtapp:login' %}">Log In</a></li>
                {% endif %} 
            </ul>
        </div>
    </header>
    <br> <br>
    {% block content %}
      
    {% endblock content %}
</body>
</html>