{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row" style="padding:30px;margin-top:30px;"> 
        {% csrf_token %}
        {% if user.is_authenticated %}
        <h1>&#10055; Welcome to GT APP {{ user.first_name }} {{ user.last_name }} &#10055;</h1>
        {% else %}
        <h1>&#10055; Welcome to GT APP &#10055;</h1>
    {% endif %} 
        <div class="container-img">
            <picture>        
                <img src="{% static 'images/paisaje1.jpg' %}" alt="Paisaje">     
            </picture>
        </div>
    </div>
{% endblock content %}